@font-face {
  font-family: 'bni';
  src:  url('fonts/bni.eot?n7kam9');
  src:  url('fonts/bni.eot?n7kam9#iefix') format('embedded-opentype'),
    url('fonts/bni.ttf?n7kam9') format('truetype'),
    url('fonts/bni.woff?n7kam9') format('woff'),
    url('fonts/bni.svg?n7kam9#bni') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bni' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-001:before {
  content: "\e900";
}
.ico-002:before {
  content: "\e901";
}
.ico-003:before {
  content: "\e902";
}
.ico-004:before {
  content: "\e903";
}
.ico-005:before {
  content: "\e904";
}
.ico-006:before {
  content: "\e905";
}
.ico-007:before {
  content: "\e906";
}
.ico-008:before {
  content: "\e907";
}
.ico-009:before {
  content: "\e908";
}
.ico-010:before {
  content: "\e909";
}
.ico-011:before {
  content: "\e90a";
}
.ico-012:before {
  content: "\e90b";
}
.ico-013:before {
  content: "\e90c";
}
.ico-014:before {
  content: "\e90d";
}
.ico-015:before {
  content: "\e90e";
}
.ico-016:before {
  content: "\e90f";
}
.ico-017:before {
  content: "\e910";
}
.ico-018:before {
  content: "\e911";
}
.ico-019:before {
  content: "\e912";
}
.ico-020:before {
  content: "\e913";
}
.ico-021:before {
  content: "\e914";
}
.ico-022:before {
  content: "\e915";
}
.ico-023:before {
  content: "\e916";
}
.ico-024:before {
  content: "\e917";
}
.ico-025:before {
  content: "\e918";
}
.ico-026:before {
  content: "\e919";
}
.ico-027:before {
  content: "\e91a";
}
.ico-028:before {
  content: "\e91b";
}
.ico-029:before {
  content: "\e91c";
}
.ico-030:before {
  content: "\e91d";
}
.ico-031:before {
  content: "\e91e";
}
.ico-032:before {
  content: "\e91f";
}
.ico-033:before {
  content: "\e920";
}
.ico-034:before {
  content: "\e921";
}
.ico-035:before {
  content: "\e922";
}
.ico-036:before {
  content: "\e923";
}
.ico-037:before {
  content: "\e924";
}
.ico-038:before {
  content: "\e925";
}
.ico-039:before {
  content: "\e926";
}
.ico-040:before {
  content: "\e927";
}
.ico-041:before {
  content: "\e928";
}
.ico-042:before {
  content: "\e929";
}
.ico-043:before {
  content: "\e92a";
}
.ico-044:before {
  content: "\e92b";
}
.ico-045:before {
  content: "\e92c";
}
.ico-046:before {
  content: "\e92d";
}
.ico-047:before {
  content: "\e92e";
}
.ico-048:before {
  content: "\e92f";
}
.ico-049:before {
  content: "\e930";
}
.ico-050:before {
  content: "\e931";
}
.ico-051:before {
  content: "\e932";
}
.ico-052:before {
  content: "\e933";
}
.ico-053:before {
  content: "\e934";
}
.ico-054:before {
  content: "\e935";
}
.ico-055:before {
  content: "\e936";
}
.ico-056:before {
  content: "\e937";
}
.ico-057:before {
  content: "\e938";
}
.ico-058:before {
  content: "\e939";
}
.ico-059:before {
  content: "\e93a";
}
.ico-060:before {
  content: "\e93b";
}
.ico-061:before {
  content: "\e93c";
}
.ico-062:before {
  content: "\e93d";
}
.ico-063:before {
  content: "\e93e";
}
.ico-064:before {
  content: "\e93f";
}
.ico-065:before {
  content: "\e940";
}
.ico-066:before {
  content: "\e941";
}
.ico-067:before {
  content: "\e942";
}

