
$bniRed: #CF2030;
$bniBlack: #292727;
$bniYellow: #F6BF58;

$greyLight: #F5F7F7;
$grey: #C8C9C7;
$greyDark: #63666A;

$first: #792b41;
$second: #641934;
$third: #4e1127;

$white: #fff;
$black: #000;
$red: #eb2127;
$green: #7ac741;
$yellow: #eed94b;
$blue: #054d77;

$greyDarker: #292727;